.add-item-wrapper {
    padding: 15px;
    border-radius: 0 0 15px 15px;
    border: 1px solid #ccc;
    border-top: 0;
}
.add-item-input-wrapper {
    flex-grow: 1;
    padding: 0 5px;
}
.add-item-input-wrapper input {
    width: 100%;
    height: 100%;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.add-item-wrapper button {
    height: 100%;
}
.todo-item {
    position: relative;
    margin: 15px 0;
}
.todo-item-text {
    border: 1px solid #eee;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    padding-right: 100px;
    height: 60px;
}

.todo-item-text:focus, .add-item-input-wrapper input:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}

.todo-item-options {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.delete-item {
    display: inline-block;
    border: none;
    background: none;
    margin-left: 7px;
    cursor: pointer;
}
.delete-item:focus {
    outline: none;
}

/*checkbox style*/
/* Customize the label (the container) */
.checkbox-container {
    margin: 0;
    cursor: pointer;
    position: relative;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    opacity: 0.3;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    opacity: 1;
}

/*checkbox style end*/